{% extends "auth.html" %}

{% block content %}
{% load static %}
<form>
    <h2 class="h2 fw-semibold black mb-3-5">Оплата</h2>
    <div class="d-flex justify-content-center m-3">
        <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.667 5L7.5 14.167 3.333 10" stroke="#007bff" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/></svg>
        <span class="text-error fw-semibold" style="color:#007bff">Ордер исполнен</span>
    </div>
    <br><p style="color: gray;font-size: 10px">ID: {{ order_id }}</p>
</form>
<script>
    function startCountdown(duration, display) {
        let timer = duration, minutes, seconds;
        setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (--timer < 0) {
                timer = duration;
            }
        }, 1000);
    }

    // Устанавливаем время на оплату (в секундах)
    const countdownMinutes = {{ time }};
    const countdownDisplay = document.getElementById('countdown');
    startCountdown(countdownMinutes, countdownDisplay);

</script>

{% endblock %}
