{% extends "auth.html" %}

{% block content %}
{% load static %}
<form>

    <h2 class="h2 fw-semibold black mb-3-5">Оплата</h2>
    {% load custom_tags %}
    <p class="gray-purple">Трейдер найден, средства будут переведены в течении <span
            class="fw-semibold blue-light" id="countdown">{{ minutes }}:{{ seconds }}</span></p>
    <div class="d-flex justify-content-center align-items-end bg-light-gray rounded-4 p-3 mb-2 mt-4">
        <span class="h2 fw-semibold black m-0 mr-1">{{ amount }}</span>
        <span class="pb-1 sub-sup-font-size gray-purple">RUB</span>
    </div>
    <br><p style="color: gray;font-size: 10px">ID: {{ order_id }}</p>
</form>
<script>
    function startCountdown(duration, display) {
        let timer = duration, minutes, seconds;
        setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (--timer < 0) {
                timer = duration;
            }
        }, 1000);
    }

    // Устанавливаем время на оплату (в секундах)
    const countdownMinutes = {{ time }};
    const countdownDisplay = document.getElementById('countdown');
    startCountdown(countdownMinutes, countdownDisplay);

    function checkOrderStatus(orderId) {
            // Отправка запроса на сервер
            fetch('/order/status/' + orderId)
                .then(response => response.json())
                .then(data => {
                    // Проверка статуса заказа
                    if (data.status != {{ status }}) {
                        // Если статус 'Success', перезагрузить страницу
                        location.reload();
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        // Запуск проверки статуса заказа каждые 10 секунд
        const orderId = '{{ order_id }}'; // Замените на реальный идентификатор заказа
        setInterval(() => {
            checkOrderStatus(orderId);
        }, 5000);

</script>

{% endblock %}