{% extends "auth.html" %}

{% block content %}

<div class="content-inner position-relative mb-5">
    <div class="p-6">
        <form method="post" action="{% url 'order-start' order_id=order_id %}">
        <h2 class="h2 fw-semibold black mb-3-5">Оплата</h2>
        <p class="gray-purple">Выберите способ оплаты:</p>
        <div class="d-flex justify-content-center align-items-end bg-light-gray rounded-4 p-3 mb-4-5 mt-4">
            <span class="h2 fw-semibold black m-0 mr-1">{{ amount }}</span>
            <span class="pb-1 sub-sup-font-size gray-purple">RUB</span>
        </div>
            {% csrf_token %}
            {{ form.as_p }}
            {% if side == "OUT" %}
            <label for="number">Номер карты:</label>
            <input class="form-control" name="card_number" id="number" placeholder="Введите номер карты">
            <label for="initials">Инициалы держателя карты:</label>
            <input class="form-control" name="initials" id="initials" placeholder="Введите инициалы держателя карты">
            {% endif %}
            <button type="submit" class="d-flex justify-content-center align-items-center bg-blue-light rounded-3 fw-semibold border-none m-0">
                <span>К оплате</span>
            </button>
            <br><p style="color: gray;font-size: 10px">ID: {{ order_id }}</p>
        </form>
    </div>
</div>
{% endblock %}