{% extends "base.html" %}

{% block content %}
{% load static %}
<style>
    form {
            min-width: fit-content;
            background-color: #ffffff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        input, textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #cccccc;
            border-radius: 5px;
        }

        button {
            background-color: #007bff;
            color: #ffffff;
            cursor: pointer;
        }
        .g-recaptcha{
           margin: 15px auto !important;
           width: auto !important;
           height: auto !important;
           text-align: -webkit-center;
           text-align: -moz-center;
           text-align: -o-center;
           text-align: -ms-center;
        }
        .errorlist
        {
            padding: 0;
            background: #ff555555;
            border-radius: 20px;
        }
        .error input, .error select {
            border: 2px red solid;
            }
        .button-send{
        max-width: 40px
        }

     select {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
     }

    #openFile {
        display: none;
    }

    form {
        margin: 20px;
    }

    .card-title {
        font-size: 16px;
    }

    .form-control {
        font-size: 12px;
    }

    .btn {
        font-size: 12px;
    }

    .tab.active {
        background-color: #5071BF4D !important;
    }


    .tab:hover {
        background-color: #5071BF4D !important;
    }

    tr.active {
        background-color: #5071BF4D !important;
    }

    p {
        font-size: 12px;
    }


    tr:hover {
        background-color: #5071BF4D !important;
    }

    table {
        margin-top: 40px;
    }

    th div {
        margin-top: -40px;
        position: absolute;
    }

    /* design */
    table {
        border-collapse: collapse;
    }

    tr:nth-child(even) {
        background: #EEE;
    }

    p.mytabs {
        margin: 0;
    }

</style>
<div class="card">
    <div class="card-body pt-3">
        <div style="display: flex;flex-direction: row;padding: 2%">
            <div style="padding: 2%">
                <button data-bs-toggle="modal" data-bs-target="#basicModal" style="color: #fff !important"
                        type="button" class="btn btn-primary">Добавить карту
                </button>
            </div>
            <div style="display: flex;padding: 2%">
                <input class="form-control" id="search" type="text" name="query" placeholder="Поиск"
                       title="Enter search keyword">
                <button class="btn btn-light" type="submit" title="Search"
                        onclick="search(document.getElementById('search').value)"><i class="bi bi-search"></i></button>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col" rowspan="2">Никнейм карты<br><br></th>
                <th scope="col" rowspan="2">Номер карты<br><br></th>
                <th scope="col" rowspan="2">Банк<br><br></th>
                <th scope="col" rowspan="2">Валюта<br><br></th>
                <th scope="col" colspan="3" class="table-info">Лимиты на ввод</th>
                <th scope="col" colspan="3" class="table-info">Лимиты на вывод</th>
                <th scope="col" rowspan="2">Статус<br><br></th>
            </tr>
            <tr>
                <th scope="col">На операцию</th>
                <th scope="col">В сутки</th>
                <th scope="col">В месяц</th>
                <th scope="col">На операцию</th>
                <th scope="col">В сутки</th>
                <th scope="col">В месяц</th>
            </tr>
            </thead>
            <tbody>
            {% load custom_tags %}
            {% for i in cards %}
            <tr onclick="window.location.href='/card/{{ i.id }}'; return false">
                <td>{{ i.name }}</td>
                <td>{{ i.payment_details }}</td>
                <td>{{ i.method.name }}</td>
                <td>{{ i.currency.ticker }}</td>
                <td>{{ i.limits.input_operation_limit }}</td>
                <td>{{ i.limits.input_day_limit }}</td>
                <td>{{ i.limits.input_month_limit }}</td>
                <td>{{ i.limits.output_operation_limit }}</td>
                <td>{{ i.limits.output_dat_limit }}</td>
                <td>{{ i.limits.output_month_limit }}</td>
                <td>
                    {% if i.status %}
                    <span class="badge rounded-pill bg-info text-dark">ON</span>
                    {% else %}
                    <span class="badge rounded-pill bg-info text-dark">OFF</span>
                    {%endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="editObjectModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" action="{% url 'cards' %}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Добавть карту</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}