<!-- templates/support.html -->

{% extends "base.html" %}

{% block content %}
<style>
    form {
            min-width: fit-content;
            background-color: #ffffff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        input, textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #cccccc;
            border-radius: 5px;
        }

        button {
            background-color: #007bff;
            color: #ffffff;
            cursor: pointer;
        }
        .g-recaptcha{
           margin: 15px auto !important;
           width: auto !important;
           height: auto !important;
           text-align: -webkit-center;
           text-align: -moz-center;
           text-align: -o-center;
           text-align: -ms-center;
        }
        .errorlist
        {
            padding: 0;
            background: #ff555555;
            border-radius: 20px;
        }
        .error input, .error select {
            border: 2px red solid;
            }
        .button-send{
        max-width: 40px
        }

    #openFile {
        display: none;
    }

    form {
        margin: 20px;
    }

    .card-title {
        font-size: 16px;
    }

    .form-control {
        font-size: 12px;
    }

    .btn {
        font-size: 12px;
    }

    .tab.active {
        background-color: #5071BF4D !important;
    }


    .tab:hover {
        background-color: #5071BF4D !important;
    }

    tr.active {
        background-color: #5071BF4D !important;
    }

    p {
        font-size: 12px;
    }


    tr:hover {
        background-color: #5071BF4D !important;
    }

    table {
        margin-top: 40px;
    }

    th div {
        margin-top: -40px;
        position: absolute;
    }

    /* design */
    table {
        border-collapse: collapse;
    }

    tr:nth-child(even) {
        background: #EEE;
    }

    p.mytabs {
        margin: 0;
    }

</style>
<div class="modal-dialog">
    <form method="post" action="{% url 'complaint' order_id=order_id %}" enctype="multipart/form-data">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Создать тикет</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}