{% extends "auth.html" %}

{% block content %}

        <form method="post" action="{% url 'reset3' %}?session={{ session }}" id="passwordForm">
            <h3>Сбросить пароль</h3>
            <p>Важно - в течение 24 часовпосле смены паролявы не сможете выводить средства</p>
            {% csrf_token %}
            {{ form.as_p }}
            <ul id="passwordErrors" class="error" style="padding: 0;text-align: left;"></ul>
            <button  type="button" onclick="validatePassword()" class="button is-block is-info is-fullwidth">Далее</button>
            <a href="/login">Вернуться</a>
        </form>
        <script>
        function validatePassword() {
            var passwordInput = document.getElementById('id_password');
            var passwordErrors = document.getElementById('passwordErrors');
            passwordErrors.innerHTML = '';

            var password = passwordInput.value;

            if (password.length < 8) {
                passwordErrors.innerHTML += '<li class="error">Пароль должен содержать минимум 8 символов.</li>';
            }

            if (!/[A-Z]/.test(password)) {
                passwordErrors.innerHTML += '<li class="error">Пароль должен содержать минимум одну заглавную букву.</li>';
            }

            if (!/\d/.test(password)) {
                passwordErrors.innerHTML += '<li class="error">Пароль должен содержать минимум одну цифру.</li>';
            }

            if ((/\d/.test(password)) && (/[A-Z]/.test(password)) && (password.length >= 8)) {
                document.getElementById('passwordForm').submit();
            }
        }
    </script>
{% endblock %}